body {
    margin-top: 1rem;
    text-align: center;
}

.container {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.disclaimer {
    margin-top: 3rem;
    text-align: left;
}

